@charset "UTF-8";
.contactform {
  padding: 20px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contactform h1 {
  width: 100%;
}
.contactform p {
  color: var(--background-clr);
  text-align: center;
  padding: 12px;
  margin-bottom: 0;
}
.contactform form {
  padding: 12px;
  font-family: "Overpass", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: var(--background-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 617px;
}
.contactform .input-container {
  position: relative;
  margin-top: 20px;
  width: 100%;
}
.contactform .input-container img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 12px;
  right: 12px;
}
.contactform .input-container span {
  color: var(--error);
}
.contactform .input-container input,
.contactform .input-container textarea {
  border: none;
  width: calc(100% - 30px);
  height: 40px;
  border-bottom: 2px solid var(--background-clr);
  padding: 4px 15px 2px 15px;
  margin-bottom: 12px;
  background-color: black;
  cursor: pointer;
  color: var(--background-clr);
}
.contactform .input-container input:focus-visible,
.contactform .input-container textarea:focus-visible {
  padding: 0px 11px 0px 11px;
  border: 4px solid var(--background-clr);
  outline: none;
}
.contactform .input-container input:focus::placeholder,
.contactform .input-container textarea:focus::placeholder {
  color: transparent;
}
.contactform .input-container textarea {
  height: 200px;
  padding-top: 16px;
  resize: none;
}
.contactform .input-container textarea:focus-visible {
  padding-top: 12px;
}
.contactform label {
  position: absolute;
  background-color: black;
  top: -12px;
  left: 12px;
  padding: 4px;
  opacity: 0;
}
.contactform .show-label {
  opacity: 1;
}
.contactform .thin-border {
  border: 1px solid var(--background-clr);
}
.contactform .checkbox-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16.8px;
  position: relative;
}
.contactform .checkbox-container label {
  position: unset;
  cursor: pointer;
  display: flex;
  color: var(--background-clr);
  opacity: 1;
  align-items: center;
  z-index: 2;
}
.contactform .checkbox-container label button {
  border: none;
  color: var(--text-clr-green);
  background-color: transparent;
}
.contactform .checkbox-container label button:hover {
  font-weight: 700;
}
.contactform .checkbox-container label .langen {
  width: 101px;
}
.contactform .checkbox-container label .langde {
  width: 182px;
}
.contactform .checkbox-container input[type=checkbox] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}
.contactform .checkbox-container label::before {
  content: "";
  width: 14px;
  min-width: 14px;
  height: 14px;
  margin: 3px;
  border-radius: 2px;
  border: 2px solid var(--background-clr);
  margin-right: 12px;
}
.contactform .checkbox-container label:hover {
  background-color: transparent;
}
.contactform .checkbox-container .checkbox-hover-circle {
  width: 24px;
  height: 24px;
  background-color: var(--text-clr-green);
  border-radius: 100%;
  position: absolute;
  left: 4px;
  z-index: 1;
}
.contactform .checkbox-container input[type=checkbox]:checked + label::before {
  content: "✔";
  display: flex;
  justify-content: center;
}
.contactform .privacy-policy-missing {
  display: flex;
  width: 100%;
  font-size: 12px;
  line-height: 14.4px;
  color: var(--error);
}
.contactform input[type=submit] {
  width: 201px;
  height: 68px;
  border: 4px solid var(--background-clr);
  background-color: black;
  color: var(--background-clr);
  font-size: 23px;
  line-height: 27.6px;
  font-weight: 400;
  opacity: 30%;
  margin-top: 16px;
  cursor: pointer;
}
.contactform .opacity-1 {
  opacity: 1 !important;
}

.background-change {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}

h1 {
  color: var(--background-clr);
  animation-name: change-color-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-align: left;
  margin-top: 0;
  font-size: 40px;
  line-height: 40px;
}

.contactform-ux {
  position: absolute;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 24px;
  transition: ease-in 2000ms;
}

#uxWait {
  background-color: var(--background-clr);
  cursor: wait;
}

#uxSuccess {
  background-color: var(--text-clr-green);
  color: var(--background-clr);
  cursor: pointer;
}

#uxError {
  background-color: var(--error);
  color: var(--background-clr);
  cursor: pointer;
}

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .contactform {
    padding: 0;
  }
  .contactform h1 {
    padding-left: 20px;
    font-size: 45px;
    line-height: 45px;
  }
  input[type=submit] {
    width: 277px !important;
  }
}
@media (min-width: 1280px) {
  h1 {
    width: 1240px !important;
    padding: 0 !important;
  }
}/*# sourceMappingURL=contactform.component.css.map */