.header {
    padding: 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    img {
        height: 32px;
        cursor: pointer;
    }
}

.personal-logo {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: default;

    :first-child {
        transform: translateX(4px);
        margin-left: -4px;
        text-shadow: 0px 1px, 1px 0px, 1px 0px;
    }

    :last-child {
        transform: translateY(3px) translateX(-6px);
        margin-right: -4px;
        text-shadow: 0px 1px, 1px 0px, 1px 0px;
    }

    div {
        border-left: 4px solid var(--background-clr);
        height: 32px;
        z-index: 1;
        transform: rotateZ(10deg);
    }
}