<div class="header" id="header">
    <div class="header-top">
        <div class="personal-logo" (click)="scrollToElement('headline', 72)">
            [<span>J</span>
            <div></div>
            <span>S</span>]
        </div>
        <div class="languages">
            <div class="flag" (click)="switchLanguage('en')">
                <img src="./../../assets/img/flags/england-2906827_640.png" alt="">
            </div>
            <div class="flag" (click)="switchLanguage('de')">
                <img src="./../../assets/img/flags/germany-31017_640.png" alt="">
            </div>
        </div>
        <div class="burger-menu" (click)="toggleMenu()">
            <div [@openClose]="isOpen ? 'open-s1' : 'closed-s1'"></div>
            <div [@openClose]="isOpen ? 'open-s2' : 'closed-s2'"></div>
            <div [@openClose]="isOpen ? 'open-s3' : 'closed-s3'"></div>
        </div>
    </div>
    <div class="menu-buttons" [@openClose]="isOpen ? 'menu-button-opened' : 'menu-button-closed'">
        <div *ngFor="let btn of menuButtons, index as i" class="menu-btn" (mouseenter)="setHover(i)"
            (mouseleave)="resetHover(i)" (mousedown)="onClick(i)"
            (click)="scrollToElement(btn[1], convertStringToNumber(btn[3])); toggleMenu()" (touchstart)="setHover(i)"
            (touchend)="resetHover(i)">
            <span [innerHTML]="languageService.currentLanguage == 'en' ?  btn[0] : btn[1]">{{ btn[0] }}</span>
            <div class="menu-btn-rect" [@hoverAnimation]="menuButtons[i][3]"></div>
        </div>
        <div class="menu-footer">
            <div class="background-change"></div>
            <div class="footer-info">
                <h1>{{ 'footerHeadline' | translate }}</h1>
                <div class="personal-mail">johannes.springer93&#64;gmx.de</div>
                <div class="footer-icons">
                    <div class="app-link" *ngFor="let link of appLinks">
                        <img src="{{ link.image }}" alt="" (click)="openLink(link.link)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>