.header {
    padding: 30px 25px 30px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background-color: var(--background-clr);
}

.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.personal-logo {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;

    :first-child {
        transform: translateX(4px);
        margin-left: -4px;
        text-shadow: 0px 1px, 1px 0px, 1px 0px;
    }

    :last-child {
        transform: translateY(3px) translateX(-6px);
        margin-right: -4px;
        text-shadow: 0px 1px, 1px 0px, 1px 0px;
    }

    div {
        border-left: 4px solid var(--background-clr);
        height: 32px;
        z-index: 1;
        transform: rotateZ(10deg);
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    div {
        width: 40px;
        border-top: 4px solid black;
    }
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: calc(50vh - 32px - 60px);
}

.menu-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80%;
    cursor: pointer;

    span {
        width: 100%;
        text-align: center;
        font-family: 'Syne', 'sans-serif';
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
    }
}

.menu-btn-rect {
    position: absolute;
    width: 18px;
    height: 20px;
    bottom: 0;
    left: 0;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
}