<div class="footer">
    <div class="info">
        <div class="personal-links">
            <div class="app-link" *ngFor="let link of appLinks">
                <img src="{{ link.image }}" alt="" (click)="openLink(link.link)">
            </div>
        </div>
        <div class="creater">
            <div class="personal-logo" (click)="scrollToElement('headline', 72)">
                [<span>J</span>
                <div></div>
                <span>S</span>]
            </div>
            <div class="copyright">
                &#169;Johannes Springer 2024
            </div>
        </div>
    </div>
    <div class="legal-notice" (mouseover)="setHover()" (mouseleave)="resetHover()" (touchstart)="setHover()" (touchend)="resetHover()">
        <div>Legal notice</div>
        <div class="underline" [@hoverAnimation]="isHovered ? 'highlighted' : 'normal'"></div>
    </div>
</div>