.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--background-clr);

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .personal-links {
        display: flex;
        justify-content: space-around;
        padding: 20px;
    }

    .creater {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 12px;
    }

    .personal-logo {
        cursor: pointer;

        div {
            border-left: 4px solid black;
        }
    }

    .copyright {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .legal-notice {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        line-height: 19.2px;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }
}

.app-link {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateY(-15px);

    }
}

.underline {
    transform: translateX(22px);
}

@media (min-width: 768px) {
    .footer {
        align-items: center;
    }

    .info {
        flex-direction: row-reverse !important;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-width);
    }

    .personal-links {
        gap: 42px;
        padding-right: 0 !important;
    }

    .creater {
        padding-left: 0 !important;
        align-items: flex-start !important;
    }

    .legal-notice {
        align-items: flex-end !important;
        width: var(--max-width);
        max-width: 100%;
    }

    .underline {
        transform: translateX(0);
    }
}