<div class="about-me" id="aboutMe">
    <h1>About me</h1>
    <div class="about-me-content">
        <p class="about-me-descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ullam dolorem cum
            ratione
            nesciunt perferendis consequuntur consequatur eligendi iusto corporis. Porro nemo optio facere voluptatibus
            qui
            earum maxime molestiae soluta!</p>
        <div class="about-me-img" (mouseenter)="setHover()" (mouseleave)="resetHover()" (touchstart)="setHover()"
            (touchend)="resetHover()">
            <img src="./../../assets/img/me/me_01.png" alt="">
            <div class="img-border" [@meImg]="isHovered ? 'hovered' : 'normal'"></div>
        </div>
    </div>
</div>