.about-me {
    margin-top: 48px;
    padding: 12px;

    h1 {
        animation-name: change-color-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

.about-me-descr {
    padding: 13px;
    margin: 0;
}

.msg-link {
    display: none;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-img {
    padding: 12px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    position: relative;

    img {
        width: 100%;
        background-image: url('./../../assets/img/me/me-bgr.jpg');
    }

    .img-border {
        position: absolute;
        top: 20px;
        left: 20px;
        width: calc(100% - 28px);
        height: calc(100% - 28px);
        border: 4px solid black;
    }
}

@media (min-width: 768px) {
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px;
    }

    .about-me-descr {
        padding: 0;
    }

    .about-me-text {
        gap: 24px;
    }

    .about-me-content {
        display: flex;
        justify-content: space-between;

        >* {
            width: 45%;
        }
    }

    .about-me-img {
        max-height: calc(45vw - 25px);
    }

    .msg-link {
        display: flex;
        justify-content: center;
        width: 205px;
        margin-top: 60px;
        padding: 20px 40px;
        border: 4px solid black;
        cursor: pointer;
        font-weight: 400;
    }
}

@media (min-width: 1280px) {
    .about-me {
        max-width: var(--max-width);
    }

    .about-me-img {
        max-height: 558px;
    }
}