<div class="body-component">
    <div class="privacy-policy">
        <h1>{{ 'ln01' | translate }}</h1>
        <h2>1. {{ 'ln02' | translate }}</h2>
        <h3>{{ 'ln03' | translate }}</h3>
        <p>{{ 'ln04' | translate }}</p>
        <h3>{{ 'ln05' | translate }}</h3>
        <h4>{{ 'ln06' | translate }}</h4>
        <p>{{ 'ln07' | translate }}</p>
        <h4>{{ 'ln08' | translate }}</h4>
        <p>{{ 'ln09' | translate }}</p>
        <p>{{ 'ln10' | translate }}</p>
        <h4>{{ 'ln11' | translate }}</h4>
        <p>{{ 'ln12' | translate }}</p>
        <h4>{{ 'ln13' | translate }}</h4>
        <p>{{ 'ln14' | translate }}</p>
        <p>{{ 'ln15' | translate }}</p>
        <h2>2. Hosting</h2>
        <p>{{ 'ln16' | translate }}</p>
        <h3>All-Inkl</h3>
        <p>{{ 'ln17' | translate }}
            <br><a href="https://all-inkl.com/datenschutzinformationen/" target="_blank"
                rel="noopener noreferrer">https://all-inkl.com/datenschutzinformationen/</a>.</p>
        <p>{{ 'ln18' | translate }}</p>

        <h2>3. {{ 'ln19' | translate }}</h2>
        <h3>{{ 'ln20' | translate }}</h3>
        <p>{{ 'ln21' | translate }}</p>
        <p>{{ 'ln22' | translate }}</p>
        <p>{{ 'ln23' | translate }}</p>
        <h3>{{ 'ln24' | translate }}</h3>
        <p>{{ 'ln25' | translate }}</p>
        <p>Johannes Springer<br />
            Holzstra&szlig;e 6<br />
            89073 Ulm</p>

        <p>{{ 'lnPhone' | translate }}: +49 176 45998758<br />
            E-Mail: johannes.springer93&#64;gmx.de</p>
        <p>{{ 'ln26' | translate }}</p>

        <h3>{{ 'ln27' | translate }}</h3>
        <p>{{ 'ln28' | translate }}</p>
        <h3>{{ 'ln29' | translate }}</h3>
        <p>{{ 'ln30' | translate }}</p>
        <h3>{{ 'ln31' | translate }}</h3>
        <p>{{ 'ln32' | translate }}</p>
        <h3>{{ 'ln33' | translate }}</h3>
        <p>{{ 'ln34' | translate }}</p>
        <h3>{{ 'ln35' | translate }}</h3>
        <p>{{ 'ln36' | translate }}</p>
        <p>{{ 'ln37' | translate }}</p>
        <h3>{{ 'ln38' | translate }}</h3>
        <p>{{ 'ln39' | translate }}</p>
        <h3>{{ 'ln40' | translate }}</h3>
        <p>{{ 'ln41' | translate }}</p>
        <h3>{{ 'ln42' | translate }}</h3>
        <p>{{ 'ln43' | translate }}</p>
        <h3>{{ 'ln44' | translate }}</h3>
        <p>{{ 'ln45' | translate }}</p>
        <ul>
            <li>{{ 'ln46' | translate }}</li>
            <li>{{ 'ln47' | translate }}</li>
            <li>{{ 'ln48' | translate }}</li>
            <li>{{ 'ln49' | translate }}</li>
        </ul>
        <p>{{ 'ln50' | translate }}</p>
        <h3>{{ 'ln51' | translate }}</h3>
        <p>{{ 'ln52' | translate }}</p>
        <p>{{ 'ln53' | translate }}</p>
        <h2>4. {{ 'ln54' | translate }}</h2>
        <h3>{{ 'ln55' | translate }}</h3>
        <p>{{ 'ln56' | translate }}</p>
        <p>{{ 'ln57' | translate }}</p>
        <p>{{ 'ln58' | translate }}</p>
        <h3>{{ 'ln59' | translate }}</h3>
        <p>{{ 'ln60' | translate }}</p>
        <p>{{ 'ln61' | translate }}</p>
        <p>{{ 'ln62' | translate }}</p>
        <h2>5. {{ 'ln63' | translate }}</h2>
        <h3>{{ 'ln64' | translate }}</h3>
        <p>{{ 'ln65' | translate }}</p>
        <p>{{ 'ln66' | translate }}
            <a href="https://developers.google.com/fonts/faq" target="_blank" rel="noopener noreferrer">https://developers.google.com/fonts/faq</a>
            {{ 'ln67' | translate }}
            <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a>.
        </p>
        <p>{{ 'lnSource' | translate }}: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>

    </div>
</div>