<div class="background-change"></div>
<div class="contactform">
    <h1>Say hi!</h1>
    <h3>Want to discuss a new project?</h3>
    <p>Say hello! let's discuss your ideas and make it happen</p>

    <form (ngSubmit)="sendMail(contactForm)" #contactForm="ngForm">

        <label for="name">Your name</label>
        <input #name="ngModel" ngClass="input-name" [(ngModel)]="contactData.name" type="text" name="name" placeholder="Your name" required>
        <span *ngIf="!name.valid && formSubmitted">Please enter a name</span>

        <label for="email">Your email</label>
        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" name="email" placeholder="Your email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <span *ngIf="!email.valid && formSubmitted">Please enter a message</span>

        <label for="message">Your message</label>
        <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message"
            minlength="4" placeholder="Your message" required></textarea>
        <span *ngIf="!message.valid && formSubmitted">Please enter a message</span>

        <input type="submit" value="Submit">

    </form>
</div>