@import '../../styles';

.contactform {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        width: 100%;
    }

    p {
        color: var(--background-clr);
        text-align: center;
        padding: 12px;
        margin-bottom: 0;
    }

    form {
        padding: 12px;
        font-family: 'Overpass', 'sans-serif';
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        color: var(--background-clr);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 617px;
    }

    .input-container {
        position: relative;
        margin-top: 20px;
        width: 100%;

        img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 12px;
            right: 12px;
        }

        span {
            color: var(--error);
            opacity: 0;
        }

        input,
        textarea {
            border: none;
            width: calc(100% - 30px);
            height: 40px;
            border-bottom: 2px solid var(--background-clr);
            padding: 4px 15px 2px 15px;
            margin-bottom: 12px;
            background-color: black;
            cursor: pointer;
            color: var(--background-clr);

            &:focus-visible {
                padding: 0px 11px 0px 11px;
                border: 4px solid var(--background-clr);
                outline: none;
            }

            &:focus::placeholder {
                color: transparent;
            }
        }

        textarea {
            height: 200px;
            padding-top: 16px;
            resize: none;

            &:focus-visible {
                padding-top: 12px;
            }
        }
    }

    label {
        position: absolute;
        background-color: black;
        top: -12px;
        left: 12px;
        padding: 4px;
        opacity: 0;
    }

    .show-label {
        opacity: 1;
    }

    .thin-border {
        border: 1px solid var(--background-clr);
    }

    .checkbox-container {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 16.8px;
        position: relative;

        label {
            position: unset;
            cursor: pointer;
            display: flex;
            color: var(--background-clr);
            opacity: 1;
            align-items: center;
            z-index: 2;

            button {
                border: none;
                color: var(--text-clr-green);
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    font-weight: 700;
                }
            }

            .langen {
                width: 101px;
            }

            .langde {
                width: 182px;
            }

        }

        input[type="checkbox"] {
            cursor: pointer;
            opacity: 0;
            position: absolute;
        }

        label::before {
            content: '';
            width: 14px;
            min-width: 14px;
            height: 14px;
            margin: 3px;
            border-radius: 2px;
            border: 2px solid var(--background-clr);
            margin-right: 12px;
        }

        label:hover {
            background-color: transparent;
        }

        .checkbox-hover-circle {
            width: 24px;
            height: 24px;
            background-color: var(--text-clr-green);
            border-radius: 100%;
            position: absolute;
            left: 4px;
            z-index: 1;
        }

        input[type="checkbox"]:checked+label::before {
            content: '\002714';
            display: flex;
            justify-content: center;
        }
    }

    .privacy-policy-missing {
        display: flex;
        width: 100%;
        font-size: 12px;
        line-height: 14.4px;
        color: var(--error);
    }

    input[type="submit"] {
        width: 201px;
        height: 68px;
        border: 4px solid var(--background-clr);
        background-color: black;
        color: var(--background-clr);
        font-size: 23px;
        line-height: 27.6px;
        font-weight: 400;
        opacity: 30%;
        margin-top: 16px;
        cursor: pointer;

        @include buttonHover();
    }

    .opacity-1 {
        opacity: 1 !important;
    }
}

h1 {
    color: var(--background-clr);
    animation-name: change-color-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-align: left;
    margin-top: 0;
    font-size: 40px;
    line-height: 40px;
}

.contactform-ux {
    position: absolute;
    bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-radius: 24px;
    transition: ease-in 2000ms;
}

#uxWait {
    background-color: var(--wait);
    cursor: wait;
}

#uxSuccess {
    background-color: var(--text-clr-green);
    color: var(--background-clr);
    cursor: pointer;
}

#uxError {
    background-color: var(--error);
    color: var(--background-clr);
    cursor: pointer;
}

.d-none {
    display: none;
}

.transparent {
    opacity: 1 !important;
}

.arrow-up {
    display: none;
}

@media (min-width: 768px) {
    .contactform {
        padding: 0;

        h1 {
            padding-left: 20px;
            font-size: 45px;
            line-height: 45px;
        }
    }

    input[type="submit"] {
        width: 277px !important;
    }

    .arrow-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 16px;
        bottom: 0;
        cursor: pointer;

        img:first-child {
            transform: translateY(15px) translateX(0px);
        }

        img:last-child {
            width: 5px;
            height: 50px;
            transition: height ease-in-out 200ms;
        }

        &:hover {
            img:last-child {
                height: 80px;
                transition: height ease-in-out 200ms;
            }
            
        }
    }
}

@media (min-width: 1280px) {
    h1 {
        width: 1240px !important;
        padding: 0 !important;
    }

    .arrow-up {
        right: calc(50% - 624px);
    }
}