.contactform {
    padding: 20px;
    background-color: black;

    h1 {
        color: var(--background-clr);
        animation-name: change-color-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        text-align: left;
        margin-top: 0;
    }

    p {
        color: var(--background-clr);
        text-align: center;
        padding: 12px;
        margin-bottom: 0;
    }

    form {
        padding: 12px;
        font-family: 'Overpass', 'sans-serif';
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
        color: var(--background-clr);
    }

    .input-container {
        position: relative;
        margin-top: 20px;

        img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 12px;
            right: 12px;
        }

        span {
            color: var(--error);
        }

        input,
        textarea {
            border: none;
            width: calc(100% - 30px);
            height: 40px;
            border-bottom: 2px solid var(--background-clr);
            padding: 4px 15px 2px 15px;
            margin-bottom: 12px;
            background-color: black;
            cursor: pointer;
            color: var(--background-clr);

            &:focus-visible {
                padding: 0px 11px 0px 11px;
                border: 4px solid var(--background-clr);
                outline: none;
            }

            &:focus::placeholder {
                color: transparent;
            }

            // &:-internal-autofill-selected {
            //     background-color: black !important;
            // }
        }

        textarea {
            height: 200px;
            padding-top: 16px;
            resize: none;

            &:focus-visible {
                padding-top: 12px;
            }
        }
    }

    label {
        position: absolute;
        background-color: black;
        top: -12px;
        left: 12px;
        padding: 4px;
        opacity: 0;
    }

    .show-label {
        opacity: 1;
    }

    .thin-border {
        border: 1px solid var(--background-clr);
    }

    .privacy-policy-check {
        display: flex;

        p {
            text-align: left;
            margin: 0;
            font-size: 14px;
            line-height: 16.8px;
            color: white;
        }

        button {
            color: var(--text-clr-green);
            width: 101px;
            background-color: transparent;
            border: none;

            &:hover {
                font-weight: 700;
            }
        }
    }
}

.background-change {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}