@import '../../styles';

.legal-notice {
    margin-top: 56px;
    padding: 24px;
    overflow-x: hidden;
    width: calc(100vw - 48px);
    max-width: 1200px;
    font-family: 'Overpass';
    min-height: calc(100vh - 339px);
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-family: 'Overpass';
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Overpass';
}

p {
    font-size: 16px;
    line-height: 16px;
}

.body-component {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 24px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 16px;
    }

    .legal-notice {
        min-height: calc(100vh - 339px - 70px);
    }
}