@import 'src/styles';

.legal-notice {
    margin-top: 48px;
    padding: 24px;
    overflow-x: hidden;
    width: calc(100vw - 48px);
    max-width: 1200px;
    font-family: 'Overpass';
}

h1 {
    font-size: 48px;
    line-height: 48px;
    font-family: 'Overpass';
}

h2 {
    font-size: 40px;
    line-height: 40px;
    font-family: 'Overpass';
}

h3 {
    font-size: 32px;
    line-height: 32px;
    font-family: 'Overpass';
}

h4 {
    font-size: 24px;
    line-height: 24px;
    font-family: 'Overpass';
}

p {
    font-size: 16px;
    line-height: 16px;
}

ul {
    font-size: 16px;
    line-height: 16px;
}

.body-component {
    display: flex;
    justify-content: center;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
    max-width: 1200px;
    padding: 30px 25px 30px 25px;
    background-color: var(--background-clr);
    z-index: 10;
}

.page-back {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 32px;
        scale: -1;

        &:hover {
            filter: invert(76%) sepia(50%) saturate(6708%) hue-rotate(127deg) brightness(92%) contrast(101%);
        }
    }
}

.languages {
    display: flex;
    gap: 8px;

    img {
        height: 32px;
    }
}

.flag {
    height: 32px;
    cursor: pointer;
    @include buttonHover();
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        line-height: 24px;
    }

    h2 {
        font-size: 24px;
        line-height: 24px;
    }

    h3 {
        font-size: 20px;
        line-height: 20px;
    }

    p {
        font-size: 16px;
        line-height: 16px;
    }

    ul {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (min-width: 1200px) {
    .page-back {
        right: calc(32px + (50vw - 600px));
    }
}