<div class="portfolios" id="portfolio">
    <div class="portfolio-header">
        <h1>Portfolio</h1>
        <div class="portfolio-intro">{{ 'portfolioDescription' | translate }}</div>
    </div>
    <div class="portfolio" *ngFor="let prj of projects; index as i" id="portfolio{{i}}">
        <div class="portfolio-counter">
            {{ ("00" + (i+1)).slice(-2) }}/{{ ("00" + (projects.length)).slice(-2) }}
        </div>

        <div class="portfolio-content" (mouseenter)="prj.hovered=true" (mouseleave)="prj.hovered=false">
            <div class="portfolio-img" (click)="openLink(prj.prjLink)">
                <img class="project-img" src="{{ prj.img }}" alt=""
                    [ngClass]="prj.hovered ? 'project-img-hovered' : ''">
                <div class="portfolio-img-border" [ngClass]="prj.hovered ? 'show-border' : 'hide-border'">
                    <img class="border-arrow" [ngClass]="prj.hovered ? 'show-arrow' : 'hide-arrow'" src="./../../assets/img/portfolio-arrow.png" alt="">
                </div>
            </div>
            <div class="portfolio-info" [ngClass]="prj.hovered ? 'show-info' : 'hide-info'">
                <h2>{{ prj.name }}</h2>
                <div class="portfolio-techstack">{{ prj.techStack }}</div>
                <p [ngClass]="languageService.currentLanguage == 'de' ? '' : 'd-none'">{{ prj.descriptionDe }}</p>
                <p [ngClass]="languageService.currentLanguage == 'en' ? '' : 'd-none'">{{ prj.descriptionEn }}</p>
                <form class="portfolio-buttons">
                    <button type="submit" (click)="openLink(prj.github)" class="portfolio-github-button">
                        Github
                    </button>
                    <button type="submit" (click)="openLink(prj.prjLink)" class="portfolio-github-button">
                        {{ 'portfolioTryButton' | translate }}
                    </button>
                </form>
            </div>
        </div>

    </div>

</div>