.my-skills {
    margin: 25px;
    border: 4px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        animation-name: change-color-animation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transform: translateY(-32px);
        background-color: var(--background-clr);
        width: fit-content;
        padding: 8px;
        margin: 0;
    }

    .my-skills-icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 8px;
        flex-wrap: wrap;

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 91px;
            margin-bottom: 30px;
            overflow: hidden;

            span {
                font-family: 'Overpass', 'sans-serif';
                font-weight: 700;
                font-size: 16px;
                line-height: 19.2px;
                text-align: center;
            }

            &:hover {
                img {
                    animation: icon-animation 260ms ease-in-out;
                }

                animation: change-color 800ms linear;
            }
        }
    }

    .skill-img-frame { 
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skill-icon {
        height: 60px;
    }
}

@keyframes icon-animation {
    0% {
        transform: translateX(0);
    }

    19% {
        transform: translateX(51px);
        transition-duration: 50ms;
        animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }

    38% {
        height: 44px;
        transition-delay: 1ms;
        transition-duration: 50ms;
        animation-timing-function: ease-out;
    }

    57% {
        transform: translateX(-21px);
        transition-delay: 1ms;
        transition-duration: 50ms;
        animation-timing-function: ease-in;
    }

    76% {
        height: 60px;
        transform: translateX(-16px);
        transition-delay: 1ms;
        transition-duration: 50ms;
        animation-timing-function: ease-in;
    }

    95% {
        transform: translateX(18px);
        transition-delay: 1ms;
        transition-duration: 50ms;
        animation-timing-function: ease-in;
    }

    99% {
        transform: translateX(18px);
        transition-delay: 800ms;
        transition-duration: 10ms;
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes change-color {
    0% {
        color: var(--text-clr-green);
        animation-timing-function: linear;
    }

    100% {
        transition-duration: 800ms;
        color: var(--text-clr-green);
        animation-timing-function: linear;
    }
}

@media (min-width: 768px) {
    .my-skills {
        margin-top: 48px;
    }
    
    .my-skills h1 {
        transform: translateY(-48px);
    }

    .my-skills-icons {
        padding: 0;
        width: 90% !important;
        gap: 50px;
    }
}

@media (min-width: 1280px) {
    .my-skills {
        max-width: calc(var(--max-width) - 8px);
    }

    .my-skills-icons {
        padding: 0;
        width: 80% !important;
        gap: 100px;
    }
}