.body-component {
    display: flex;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
}

.background-change {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
}

app-headline {
    min-height: 100vh;
}